<div align="center">
  <form action='/users/login' method='post'>
    <table>

      <tr>
        <td>Email</td>
        <td><input type='text' name='email'></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type='password' name='password'></td>
      </tr>
    </table><br>
    <button value="submit">Log in</button>
  </form>
</div>