<div align="center">
  <form action='/albums/create_album' method='post'>
    <br>
    <table>
      <tr>
        <td>Name</td>
        <td><input type='text' name='name'></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><input type='text' name='description'></td>
      </tr>
    </table>
      <br>
    <button value="submit">Create New Album</button>
  </form>
</div>