<div class="container">
  <h1>Welcome to Flicked!</h1>
  <p>Hello, world!</p>
  <table>
    <tr>
      <%counter = 0%>
      <%@photos.each do |photo| %>
        <%if counter <= 2%>
          <td><a href="/photos/<%=photo.id%>"><img src="<%= photo.source_url(:thumb)  %>"></a></td>
          <%counter += 1%>
        <%else%>
          </tr><tr><td><a href="/photos/<%=photo.id%>"><img src="<%= photo.source_url(:thumb)  %>"></a></td>
          <%counter = 0%>
        <%end%>
      <%end%>
    </tr>
  </table>

</div>
