<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="/js/application.js"></script>

  <title>Flicked</title>

  <div id='cssmenu'>
<ul>
   <li><a href='/'><span>Home</span></a></li>
   <% if login? %>
   <%user = User.find(session[:id])%>
   <li><a href="/users/<%=user.id%>"><span>My profile</span></a></li>
   <li><a href ="/users/logout"> Logout </a></li>
   <li><a href='/photos/upload'><span>Add new photo</span></a></li>
   <%else%>
   <li><a href='/users/login'><span>Login</span></a></li>
    <li><a href='/users/create'><span>Sign up</span></a></li>
   <%end%>
</ul>
</div>
</head>
<body>
  <%= yield %>
</body>
</html>